@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

:root{

    --background :#000000;
    --red: #c20000;
    --blue: #001f70; 
    --gradient: linear-gradient(180deg, #000000 0%, rgba(83, 83, 83, 0.577381) 25%, rgba(196, 196, 196, 0) 87.5%);

    --font: 'Titillium Web', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    font-family: var( --font);
    font-size: 16px;
    background-color: var(--background);
  
}

img{
    width: 100%;
}

.topo{
    width: 100%;
    height: 5em;
    background-color: var(--background);
}

.content{
    width: 95%;
    max-width: 75em;

    height: 100%;
    margin: auto;
    
}

.flex-center-bt{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.topo img{
    max-width: 21.18em;
    
}

.menu{
    width: 100%;
    max-width: 50em;
    
}

.menu ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}

.menu a{
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    padding: 0.9em 0.5em;
    text-transform: uppercase;

}
.menu a:hover{
    background-color: var(--red);
}

#menu-bars{
    display: none;
}

.banner{
    width: 100%;
    position: relative;
}

.banner-position{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.banner-content{
    width: 95%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}

.banner-text{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    
}

.banner-text h1{
    font-size: 5.62em;

}

.banner-text p{
    font-size: 1.87em;
    

}

.banner-text a{
    font-size: 1.87em;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    background-color: var(--red);
    padding: 0.5em 0.5em;
    border-radius: 0.5em;
    margin-top: 1em;
}

.jogos{
    width: 100%;
    height: 7.5em;
    color: white;
}

.jogos ul{
    list-style-type: none;
    width: 100%;
}

.jogos ul a:hover img{
    transform: scale(1.1);
    transition: 0.5s;
}

.about{
    width: 100%;
    height: 31.25em;
    background-color: var(--blue);
    position: relative;
}

.about-angulation{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.angulation{
    width: 100%;
    height: 25em;
    background-color: var(--background);
    transform: skewy(-5deg);
}

.about-position{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    
}


.about-text{
    width: 50%;
    color: white;
    text-align: justify;
    
    
}

.about-text h2{
    font-size: 2.18em;
    margin-bottom: 0.5em;
    
}

.about-text p {
    font-size: 1.125em;
    margin-bottom: 1em;

}

.about-position img{
    max-width: 31.87em;
}

.jogos-aovivo, .jogos-embreve{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.575em;/*25,12px*/
}
.jogos-aovivo h2, .jogos-embreve h2{
    font-size: 1.2em;
    text-transform: uppercase;
}

.linha{
    height: 3em;
    border: solid 1px #fff;
}

.partida{
    width: 9.5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 1em;
    
}

.partida img{
    max-width: 1.8em; /*54px*/
    
}

.time1, .time2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    
}

.time1 img{
    margin-left: 0.5em;
}

.time2 img{
    margin-right: 0.5em;
}

.noticias{
    width: 100%;
    height: 100%;
    background-color: #17161a;
}

.noticias h2{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-align: center;
    font-size: 2.1875em;
    padding-top: 1em;

}
.flex-noti{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 80em;

}

.noticias-flex{
    width: 50%;
    height: 49.9375em;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.noticias-flex a{
    text-decoration: none;
}

.noticias-flex a:hover div{
    transform: scale(1.1);
    transition: 0.5s;
}
.proximos-jogos-flex{
    width: 14.8125em;
    height: 100%;
}



.noticia-card{
    width: 1000%;
    max-width: 14.8125em;
    height: 22.75em;
    background: var(--gradient);
    color: white;
    margin-top: 2em;
    box-shadow: 1em 1em 1em 1em #000000;

}


.noticia-card img{
    max-width: 14.8125em;
    max-height: 9.9375em;
}

.noticia-card h3{
    font-size: 1.125em;
    font-family: 'Roboto', sans-serif;
    padding-left: 1em;
    text-transform: uppercase;
    
}

.noticia-card p{
    font-size: 1em;
    padding: 1em;
}

.proximos-jogos{
    width: 100%;
    
    height: 49.9375em;
    background: var(--gradient);
    margin-top: 2em;
    box-shadow: 1em 1em 1em 1em #000000;
    color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: 5em;
    
}


.proximas-jogos-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    
}
.proximas-jogos-flex p{
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    

}  

.data{
    margin-top: 1.5em;
}

.partidas-proximas{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.25em; /*20px*/

}

.partidas-proximas img{
    max-width: 2.5em;

} 
.equipe1, .equipe2{

    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    
}

.equipe1 img{
    margin-right: 0.5em;
}

.equipe2 img{
    margin-left: 0.5em;
}

.rodape{
    height: 100%;
    padding: 1em 0;
    color: #fff;
}

.logo-rodape{
    max-width: 18.75em;
}

.links-footer{
    width: 33%;
    display: flex;
    justify-content: space-between;

}

.links h2{
    font-size: 1.5em;
    color: #fff;
    text-transform: uppercase;

}

.links ul{
    color: #fff;
    margin-top: 0.7;
}

.links li{
    margin-left: 2em;
}

.links a{
    text-decoration: none;
    color: #fff;
    

}

.sociais{
    width: 33%;
    
}

.newslatter h2{
    font-size: 0.875em;
    margin-bottom: 0.5em;
}
.newslatter form{
    display: flex;
}

.newslatter input[type=email]{
    width: 12.5em;
    height: 2.5em;
    font-size: 1.1em;
    padding-left: 1em;
}

.newslatter input[type=email]::placeholder{
    color: #ccc;
    font-weight: bold;
}

.newslatter input[type="button"]{
    width: 9.75em;
    height: 2.5em;
    font-size: 1.1em;
    background-color: red;
    color: #fff;
    text-transform: uppercase;
}

.siga-nos{
    margin-top: 1em;
}

/*ate 1200px*/
@media screen and (max-width: 80em){
    .menu ul{
    width: 90%;
    justify-content: flex-end;
    
    }

    .menu a{
        font-size: 1.3em;
    }

    .banner-text h1{
        font-size: 4em;
    }

    .banner-text p{
        font-size: 1.5em;
    }

    .banner-text a{
        font-size: 1.5em;
    }

    .jogos img{
        width: 10em;

    }


    .proximos-jogos-flex{
        height: 60em;
    }

    .noticias-flex{
        width: 73%;
    }
    
    .flex-noti{
        height: 80em;
    }
    

}



/*ate 991px*/
@media screen and (max-width: 61.9375em){

    .topo img{
        width: 15em;
        margin-bottom: 1em;
    
    }
    .topo .flex-center-bt{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .menu{
        width: 100%;
        
       
    }

    .menu ul{
        width: 90%;
        justify-content: flex-end;
    }
    
   
    .menu a{
        font-size: 1.2em;
        padding: 0.5em 0.5em;
        padding-left: 1em;
    }
    .banner-text h1{
        font-size: 4em;
    }

    .banner-text p{
        font-size: 1.5em;
    }

    .banner-text a{
        font-size: 1.5em;
    }

    .jogos{
        height: 100%;
    }

    .jogos img{
        width: 90%;
    }
    .jogos ul{
        display: flex;
        
    }

    .about-text p{
        font-size: 1em;
    }

    .partida{
        width: 100%;
    }

    .noticias{
        height: 100%;
    }

    .noticias-flex{
        width: 60%;
    }

    .proximos-jogos-flex{
        height: 80em;
    }

    .links-footer{
        width: 23%;
    }

    .newslatter input[type=email]{
        font-size: 100%;
    }

    .newslatter input[type="button"]{
        font-size: 100%;
    }

    .links a{
        font-size: 1.1em;
    }
}

/*ate 767px*/
@media screen and (max-width: 49.93em){
  
    .topo img{

        margin-left: 100%
    
    }
    
    
    .menu{
        height: 0.1em;
        z-index:99;
    }
  

    .menu ul{
        
        flex-direction: column;
        z-index:10;
        width: 50%;
        height: 25%;
        position: absolute;
        top: 5em;
        left: 0;
        text-align: center;
        background-color: var(--background);
        
    }

    .menu a{
        padding: 0 0;
    }

    #menu-bars{
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        font-size: 3em;
        margin-left: 50px;

    }


    .banner-text h1{
        font-size: 2.5em;
    }

    .banner-text p{
        font-size: 1.3em;
    }

    .banner-text a{
        font-size: 1.3em;
    }

    .about-position img{
        width: 50%;
    }

    .about-text h2{
        font-size: 2em;
    }

    .about-text p{
        font-size: 1em;
    }

    .jogos-aovivo, .jogos-embreve{
        font-size: 1.2em;
    }

    .time1 img{
        margin-right: 0.5em;
    }
    
    .time2 img{
        margin-left: 0.5em;
    }

    .noticias-flex{
        width: 70%;
    }

    .noticia-card{
        width: 80%;
    }

    .proximos-jogos{
        width: 90%;
        align-items: center;
    }

    .proximas-jogos-flex{
        font-size: 1em;
    }

    .links-footer{
        width: 33%;
    }

    .links a{
        font-size: 1em;
    }

    .logo-rodape{
        margin-top: 20em;
    }
     
    .newslatter form{
        display: flex;
        flex-direction: column;
    }

    .newslatter h2{
        font-size: 1em;
    }
    


    
    .newslatter input[type="button"]{
        width: 12.5em;
    }
    

}
/* ate 575px*/
@media screen and (max-width: 35.93em){

    .topo img{

        margin-left: 60%
    
    }

    .menu{
        height: 0.1em;
        z-index:99;
    }
  

    .menu ul{
        
        flex-direction: column;
        z-index:99;
        width: 50%;
        height: 25%;
        position: absolute;
        top: 5em;
        left: 0;
        text-align: center;
        background-color: var(--background);
        display: none;
    }

    .menu a{
        padding: 0 0;
    }

    

    .banner-text h1{
        font-size: 1em;
    }

    .banner-text p{
        font-size: 1em;
    }

    .banner-text a{
        font-size: 1em;
    }

    .about-position img{
        width: 50%;
    }

    .about-text h2{
        font-size: 1.51em;
    }

    .about-text p{
        font-size: 0.9em;
    }

    .jogos-aovivo, .jogos-embreve{
        font-size: 1em;
    }

    .time1 img{
        margin-right: 0.5em;
    }
    
    .time2 img{
        margin-left: 0.5em;
    }

    .partida-close{
        display: none;
    }

    .noticias h2{
        margin-top: 3em;
    }

    .flex-noti{
        width: 100%;
        height: 140em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        
    }

    .noticias-flex{
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column; 
        align-items: center; 
        justify-content: space-around;
    }

    .card-close{
        display: none;
    }

    .card-mobile{
        padding-top: 5em;
        
    }


    .noticia-card{
        width: 100%;
        max-width: 30em;
        height: 100%;
        
    }

    .noticia-card img {
        max-width: 100%;
        max-height: 100%;
    }

    .proximos-jogos{
        width: 100%;
        height: 25em;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .proximas-jogos-flex{
        font-size: 0.9em;
    }

    .proximos-jogos-flex{
        height: 50%;
        width: 80%;
        padding-top: 2em;
    }
 
    .links-footer{
        width: 33%;
    }

    .links a{
        font-size: 1em;
    }

    .rodape{
        
    }

    .logo-rodape{
        margin-top: 20em;
        width: 10em;
    }
    

    .newslatter form{
        display: flex;
        flex-direction: column;
    }

    .newslatter h2{
        font-size: 1em;
    }
    
    
    .newslatter input[type=email]{
        width: 9.9em;
    }
    
    
    .newslatter input[type="button"]{
        width: 10em;
        

    }



}