@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

:root{

    --background :#000000;
    --red: #c20000;
    --blue: #001f70; 
    --gradient: linear-gradient(180deg, #000000 0%, rgba(83, 83, 83, 0.577381) 25%, rgba(196, 196, 196, 0) 87.5%);

    --font: 'Titillium Web', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    font-family: var( --font);
    font-size: 16px;
    background-color: var(--background);
    
}
img{
    width: 100%;
}

.topo{
    width: 100%;
    height: 5em;
    background-color: var(--background);
}

.content{
    width: 80%;
    max-width: 75em;
    height: 100%;
    margin: auto;
    
}

.flex-center-bt{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topo img{
    max-width: 21.18em;
}

.menu{
    width: 100%;
    max-width: 50em;
    
}

.menu ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.menu a{
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    padding: 0.9em 0.5em;
    text-transform: uppercase;

}
.menu a:hover{
    background-color: var(--red);
}

#menu-bars{
    display: none;
}

.banner{
    width: 100%;
    position: relative;
}

.banner-position{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.banner-content{
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}

.banner-text{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    
}

.banner-text h1{
    font-size: 5.62em;

}

.banner-text p{
    font-size: 1.87em;
    

}

.banner-text a{
    font-size: 1.87em;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    background-color: var(--red);
    padding: 0.5em 0.5em;
    border-radius: 0.5em;
    margin-top: 1em;
}

.jogos{
    width: 100%;
    height: 7.5em;
    color: white;
}

.jogos ul{
    list-style-type: none;
    width: 100%;
}

.jogos ul a:hover img{
    transform: scale(1.1);
    transition: 0.5s;
}

.about{
    width: 100%;
    height: 31.25em;
    background-color: var(--blue);
    position: relative;
}

.about-angulation{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.angulation{
    width: 100%;
    height: 25em;
    background-color: var(--background);
    transform: skewy(-5deg);
}

.about-position{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    
}


.about-text{
    width: 50%;
    color: white;
    text-align: justify;
    
    
}

.about-text h2{
    font-size: 2.18em;
    margin-bottom: 0.5em;
    
}

.about-text p {
    font-size: 1.125em;
    margin-bottom: 1em;

}

.about-position img{
    max-width: 31.87em;
}

.jogos-aovivo, .jogos-embreve{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.875em;/*30px*/
}

.jogos-aovivo::after{
    content: '';
    height: 2.666em;
    border: solid 1px #fff;
    margin: 0 1em;
}

.partida{
    width: 9.5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 1em;
    
}

.partida img{
    max-width: 1.8em; /*54px*/
    
}

.time1, .time2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    
}

.time1 img{
    margin-left: 0.5em;
}

.time2 img{
    margin-right: 0.5em;
}

.noticias{
    width: 100%;
    height: 68.25em;
    background-color: #17161a;
}

.noticias h2{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 2.1875em;
    margin-left: 10em;
    padding-top: 1em;

}
.flex-noti{
    display: flex;
    justify-content: space-between;
}

.noticias-flex{
    width: 73%;
    height: 49.9375em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.noticias-flex a{
    text-decoration: none;
}

.noticias-flex a:hover div{
    transform: scale(1.1);
    transition: 0.5s;
}

.noticia{
    width: 14.8125em;
    height: 22.75em;
    background: var(--gradient);
    color: white;
    margin-top: 2em;
    box-shadow: 1em 1em 1em 1em #000000;

}


.noticia img{
    max-width: 14.8125em;
    max-height: 9.9375em;
}

.noticia h3{
    font-size: 1.125em;
    font-family: 'Roboto', sans-serif;
    padding-left: 1em;
}

.noticia p{
    font-size: 1em;
    padding: 1em;
}

.proximos-jogos{
    width: 14.8125em;;
    height: 49.9375em;
    background: var(--gradient);
    margin-top: 2em;
    box-shadow: 1em 1em 1em 1em #000000;
    color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    
    
}


.proximas-jogos-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.proximas-jogos-flex p{
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    

}  

.data{
    margin-top: 1.5em;
}

.partidas-proximas{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.25em; /*20px*/

}

.partidas-proximas img{
    max-width: 2.5em;

} 
.equipe1, .equipe2{

    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    
}

.equipe1 img{
    margin-right: 0.5em;
}

.equipe2 img{
    margin-left: 0.5em;
}


.rodape{
    width: 100%;
    height: 13.125em;
    background-color: var(--background);
}

.rodape-flex{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rodape-flex p{
    color: white;
    font-size: 3.125em;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;


}

@media screen and (max-width: 74.93em){

}


@media screen and (max-width: 47.93){

}

@media screen and (max-width: 35.93){

}